.body1{
    background-image: url('SignUp.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.body2{
    background-image: url('Home.png');
    background-repeat: no-repeat;
    background-size: 1350px;
    background-position: 640px 100px;
}
.body4{
    background-image: url('ContactUs.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    color: white;
}   
h5{
    color: cornflowerblue;
    font-size: 20px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
h1{
    margin-top: 220px;
    font-size: 50px;
    margin-bottom: 60px;
    margin-left: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
    width: 700px;
}
h1:hover{
    font-size: 60px;
}
ul{
    margin-top: 70px;
    list-style: circle;
}
li{
    font-size: 35px;
    margin-left: 150px;
    margin-top: 10px;
}
li:hover{
    color: rgb(28, 28, 156);
    font-size: 40px;
    font-weight: bold;
}
.div1{
    width: 30%;
    height: 60%;
    margin-top: 7%;
    border-style: solid;
    border-radius: 7px;
    padding: 10px;
    margin-left: 35%;
    position: relative;
    background-image: url('SignUp.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.l1{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    -webkit-text-stroke: 0.7px white;
}
.in1{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.d1 {
    margin-top: 5px;
    margin-bottom: -5px;
    margin-left: 5px;
    color: red;
    font-size: 20px;
    font-weight: bolder;
}
.b1{
    width: 80px;
    height: 40px;
    margin-top: 10px;
    position: absolute;
    bottom:   10;
    background-color: rgb(62, 62, 196);
    color: white;
    border-radius: 5px;
    font-size: 18px;
}
.show{
    position: absolute;
    right: 20;
    color: white;
    bottom: 20;
}
.checker{
    position: absolute;
    right: 130;
    bottom: 20;
}
.head2{
    width: 101.2%;
    height: 10%;
    position: absolute;
    top:   0;
    left: 0;
    background-image: linear-gradient(to right, rgb(0,0,255,0.1), rgb(0,0,255,0.9));
    text-align: right;
}
.b2{
    width: 100px;
    height: 30;
    margin-top: 35px;
    margin-right: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 17;
    border: none;
    background: none;
    color: azure;
}
.b2:hover{
    color: red;
    font-size: 19;
}
.h52{
    color: black;
    font-size: 20px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: blue;
    margin-left: 50px;
}
.d2{
    height: 10px;
}
.h{
    background-color: white;
    width: 90px;
    height: 46px;
    position: relative;
    left: 1355px;
    top: -102px;
}
.foot2{
    width: 101.2%;
    height: 7%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.d3{
    text-align: center;
    margin-top: 12%;
}
.in3{
    margin-top: 5px;
    margin-bottom: 35px;
    width: 250px;
    height: 40px;
}
.butdiv{
    width: 50%;
    background-image: url('button.png');
    background-repeat: no-repeat;
    background-size: 900px;
    margin-left: 25%;
    text-align: left;
}
.b3{
    width: 780px;
    height: 220px;
    background: none;
    border: none;
    margin-top: 10px;
    margin-left: 60px;
}
.h13{
    margin-left: 31%;
}
.div4{
    margin-top: 100px;
    margin-left: 30px;
    background-image: url('ContactUs.jpeg');
    background-repeat: no-repeat;
    background-size: 1500px;
    padding: 10px;
    width: 800px;
    height: 600px;
    border-radius: 5px;
}
.l4{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 0.2px blue;
    margin-left: 10px;
}
.in4{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: papayawhip;
    border-style: double;
    border-color: black;
    border-width: 0.1px;
    padding: 8px;
}
.in41{
    width: 100%;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: papayawhip;
    border-style: double;
    border-color: black;
    border-width: 0.5px;
    padding: 8px;
}
.d4{
    margin-top: 5px;
    margin-bottom: -5px;
    margin-left: 5px;
    color: red;
    font-size: 20px;
    font-weight: bolder;
}
.b4{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    background-color: transparent;
    color: white;
    -webkit-text-stroke: 0.75px whitesmoke;
    margin-left: 10px;
}
*:focus{
    outline: none;
}


  
            